<ng-container *ngIf="getRomances">
  <div class="container" style="margin: 0 auto;">
    <h2 class="text-center p-4 mt-4">{{ title }}</h2>
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th>Order</th>
        <th>Title</th>
        <th>Price</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let romances of getRomances;let i = index;">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{romances.title}}</td>
          <td>{{romances.price}}</td>
          <td class="btn-group w-100">
            <button class="btn btn-sm btn-dark p-2">Edit</button>
            <button class="btn btn-sm btn-warning p-2">Delete</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3"></td>
        <td>
          <button class="btn btn-sm btn-danger p-2 w-100">Delete All</button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</ng-container>
